/* Common */

body {
    background-color: #083b4c;
}

ul {
    list-style-type: none;
}

.number-bg {
    background-color: #1389b2;
}

.square {
    width: 10rem;
    height: 10rem;
}

.fizz {
    background-color: #0cd6a1;
}

.buzz {
    background-color: #ffd166;
}

.fizz-buzz {
    background-color: #f0466f;
}

/*/ Common */